@font-face {
    font-family: 'Gotham Bold';
    src: url('..css/assets/fonts/Gotham-Bold.ttf') format('truetype'), url('../assets/fonts/gotham-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../assets/fonts/Gotham-Book.ttf') format('truetype'), url('../assets/fonts/gotham-book-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Gotham Black';
    src: url('../assets/fonts/Gotham-Black.ttf') format('truetype');
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
* {
    -web-kit-box-sizing: border-box;
    -mox-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    background-color: white;
    background-image: url('../assets/img/bg.svg');
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-size: 1.875rem;
    font-family: 'Gotham Bold';
    text-align: center;
}
h2 {
    font-size: 1.25rem;
    font-family: 'Gotham Bold';
    text-align: center;
}
h3 {
    font-size: 0.9375rem;
}
h2, h3 {
    color: #b22828;
    margin-bottom: 20px;
}
p {
    margin-bottom: 20px;
}

/******* NAV ********/

nav {
    font-size: 0.75rem;
    position: fixed;
    width: 100%;
    top: -50px;
    left: 0;
    height: 50px;
    display: block;
    border-bottom: 1px solid rgba(57, 57, 57, 0.24);
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    transition: all .2s ease-in-out;
}

.logo {
    height: 50px;
    padding: 15px 0px;
    float: left;
    position: relative;
    left: 0;
    transition: all .2s ease-in-out;
}
.logo a {
    height: 100%;
    width: 100%;
    padding: 15px;
}
nav > ul:last-child {
    display: inline-block;
    float: right;
    height: 50px;
    transition: all .2s ease-in-out;
}

nav > ul > li {
    display: inline-block;
    max-height: 50px;
    min-height: 50px;
    overflow: hidden;
    transition: all .2s ease-in-out;
    margin-right: 0px;
    float: left;
    text-align: center;
}

nav ul li a {
    height: 50px;
    display: block;
    padding: 0px 20px;
    line-height: 50px;
    color: #383838;
    transition: all .2s ease-in-out;
}

nav ul li ul {
    opacity: 0;
    height: 0px;
    transition: all .2s ease-in-out;
}

nav ul li ul li {
    display: block;
}

nav ul li a:hover {
    color: white;
    text-decoration: none;
}
nav > ul > li:hover > a {
    color: white;
}
nav > ul > li:hover {
    max-height: 200px;
    background-color: #b22828;
}

nav > ul > li:hover ul {
    background-color: #B22828;
    opacity: 1;
    height: 200px;
}

nav > ul > li > ul > li a:hover,
nav ul li a:hover {
    background-color: #FF3939;
}

nav > ul > li > ul > li {
    background-color: white;
}


/*landing section nav adjustments*/

nav.special {
    text-align: center;
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0px !important;    
    transition: all .2s ease-in-out;
}

nav.special ul li a {
    color: white;
}

.special .logo {
    display: none;
}

nav.special ul {
    float: none;
    margin: 0 auto;
}
nav.special ul li {
    font-size: 0.875rem;
}
nav.special > ul > li > ul > li {
    background-color: rgba(0, 0, 0, 0);
}
nav.normal {
    top: 0px;
}
#content.pages {
    padding-top: 50px;
}
#footer {
    height: 50px;
    display: block;
    width: 100%;
    background-color: #b22828;
}

@media (max-width:990px) {
    #content {
        background-size: cover;
    }
}
.active-wrap {
    overflow: hidden;
    position: relative;
}
.active-area {
    display: inline-block;
    padding-bottom: 50px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .2s ease-in-out;
    opacity: 1;
}
.active-area:not(.current) {
    opacity: 0;
}
p {

}
::-moz-selection {
    background-color: #b22828;
    color: white;
}

::selection {
    background-color: #b22828;
    color: white;
}

@media screen and (max-width: 940px) {
    .logo {
        left: -200px;
        position: fixed;
    }
    nav:not(.special) > ul:last-child {
        width: 100%;
    }
    nav:not(.special) > ul > li {
        width: calc(100% / 7);
    }
}

/* FOOTER */

.social-media {
    width: 100%;
    text-align: center;
    z-index: 4;
    padding: 20px;
}

.social-media img {
    width: 50px;
    height: 50px;
    padding: 10px;
    display: inline-block;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.social-media a:hover img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

footer {
    clear: both;
    background: black;
}
