

h2 {
    text-align: center;
    color: #b22828;
}

.events wrapper > p {
    font-family: 'Lato', sans-serif;
    color: #4C4C4C;
    text-align: center;
}

#landing {
	height: 100vh;
	min-height: 450px;
	position: relative;
}

#landing:before {
	content: '';
	background-image: url('../assets/img/landing-bg.jpg');
	background-size: cover;
	background-position: center top;
    background-attachment: fixed;
	opacity: 1;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#landing:after {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, .8);
	top: 0;
	left: 0;
	z-index: 2;
}

.center-wrapper {
	width: 100%;
	height: 100%;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	vertical-align: middle;
	padding: 30px;
	position: relative;
	z-index: 3;
}

.center-wrapper > img {
	margin-bottom: 15px;
}

.events-wrapper {
	padding: 20px 20px 50px;
}

.event {
	display: inline-block;
	margin-bottom: 20px;
}

.event > div {
	display: inline-block;
	float: left;
}



.event-date .day {
	display: block;
	min-width: 60px;
    font-size: 2.25rem;
	line-height: 35px;
}


.event-description {
	width: calc(100% - 100px);
}

.event-description > span {
	display: block;
}

.event-description .title {
    font-size: 1.125rem;
	color: #b22828;
}

.event-description .description {
    font-size: 0.8125rem;
}

.locations-header {
	height: 50px;
	text-align: center;
	text-transform: capitalize;
	color: #b22828;
	line-height: 50px;
    font-size: 1.9375rem;
	font-family: 'Gotham Bold';
	border: 1px solid lightgray;
	border-left: 0px;
	border-right: 0px;
}


.location {
    padding-bottom: 30px;
    position: relative;
    border-bottom: 1px solid lightgray;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    min-height: 400px;
}

.location:before {
	content: '';
	top: 0;
	left: 0;
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	-ms-background-size: cover;
	background-size: cover;
	opacity: 1;
}

.location:first-child:before {
	background-image: url("../assets/img/cave-bg.jpg");
}

.location:nth-child(2):before {
	background-image: url("../assets/img/commandCenter-bg.jpg");
}

.location:nth-child(3):before  {
	background-image: url("../assets/img/hackerspace-bg.jpg");
}

.location:last-child:before {
	background-image: url("../assets/img/makerspace-bg.jpg");
}


.social-media {
    bottom: 0px;
    left: 0;
    position: absolute;
}

/* @media screen and (max-width: 900px) {} */

.landing-header {
	min-height: 100%;
}