/* Example wrapper */
.wrap {
  position: relative;
  float: left;
  width: 100%;
  margin: 0 40px 0 0;
}

#list {
  padding-top: 50px;
}

/* Frame */
.frame {
  max-width: 93%;
  margin: 0 auto;
  overflow: hidden;
}

.frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 50px;
}

.frame ul li {
  float: left;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 200px;
  margin: 0 1px 0 0;
  padding: 0;
  background: #333;
  color: #ddd;
  text-align: center;
  cursor: pointer;
}

.frame ul li.active {
  color: #fff;
  background: #a03232;
}

.frame .slidee {
  padding: 20px 25px;
  background: #fff;
  margin-left: 30%;
  margin-right:30%;
}

/* Scrollbar */
.scrollbarL {
  margin: 0 0 1em 0;
  height: 20px;
  background: #ccc;
  line-height: 0;
}

.scrollbarL .handle {
  width: inherit;
  height: 100%;
  background: #292a33;
  cursor: pointer;
}

.scrollbarL .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 20px;
}

.scrollbar {
  position: absolute;
  right: 70px;
  width: 2px;
  height: 575px;
  background: #ccc;
  line-height: 0;
}

.scrollbar .handle {
  width: 100%;
  height: 100px;
  background: #292a33;
  cursor: pointer;
}

.scrollbar .handle .mousearea {
  position: absolute;
  top: 0;
  left: -10px;
  width: 22px;
  height: 100%;
}

#picture{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
}

#picture img{
  height: 40%;
  width: auto;
}

#info{
  padding-bottom: 2%;
}

.slidee{
  overflow-y: scroll;
  height: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(0,0,0,0.2);
}

.subsection-header{
  font-size: 20px !important;
  text-decoration: underline;
}

#nonitembased{
  height: 575px;
}
