ul, p {
    text-align: left;
    padding-bottom: 20px;
}
h2 {
    text-align: left;
}

a {
    color: #b22828;
}

img {
    max-width: 70%;
    display: block;
    margin: 0 auto;
    padding-bottom: 40px;
}
