ul, p {
    text-align: left;
    padding-bottom: 20px;
}
h2 {
    text-align: left;
}

a {
    color: #b22828;
}

.item img {
    width: 750px;
    max-width: 750px;
    min-width: 750px;
    height: 500px;
    max-height: 500px;
    min-height: 500px;
    display: block;
    margin: 0 auto;
    padding-bottom: 40px;
}

/* prevent the above rule from messing up the USACS logo */
#usacs-logo {
    max-width: 100%;
    display: inline;
}
