.card
{
	margin: 0 auto;
    margin-bottom: 15px;
}
.card a{
	text-align: center;
	color: #333333;
	font-size:0.65em;

}
.card h3
{
	margin-bottom:5px;
}

.card p{
	text-align: center;
	color: #333333;
	margin-bottom:10px;
}

.card h1{
	color: #333333;
}

h3{
	text-align: center;
}
