.project a{
	text-align: center;
	font-size:0.65em;
  color: #b22828
}
.project h1 {
	color: #b22828;
	background-color: white;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
}

h3{
    text-align: center;
}

.project h1{
    font-size: 30;
}

.project {
    height: 180px;
}
.project p{
	  margin:0;
	  background-color: white;
	  border-style: solid;
	  border-color: #b22828;
	  border-radius: 10px;
	  padding: 5px;
	  height: 76px;
	  
}