.col-md-12 {
    text-align: center;
}

h2, h3 {
    color: #b22828;
    margin-bottom: 20px;
    font-size: 15px;
}

#resource-list {
    text-align: left;
    display: block;
    margin: auto;
    width: 70%;
}

.resource {
    padding-left: 3em;
    border-top: 0;
}

.resource a {
    text-decoration: underline;
}

.list-group .list-group-item {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}

.category-name {
    font-size: 19px;
    font-weight: bold;
}

.category-name:hover {
    cursor: pointer;
    cursor: hand;
}

.resource-description {
    font-weight: normal;
}

