#mainNav .navbar-brand {
    -webkit-transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out;
}

#mainNav .navbar-brand > img.usacs-nav-logo {
    opacity: 0;
    height: 0;
}

#mainNav.navbar-shrink .navbar-brand > img.usacs-nav-logo {
    opacity: 1;
    height: unset;
}


img.usacs-main-logo {
    width: 100%;
}