#some body does emacs on a Mac...
.DS_Store
.DS_STORE
*~
\#*\#

#no python thrash
venv/
__pycache__/

#pyenv
.python-version

#jekyll
_site/
_config.dev.yml

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

#sass
.sass_cache/
