<script type="application/javascript" src="./assets/js/interactions.js"></script>
<script type="application/javascript" src="./assets/js/events-list.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-12">

    <h1>Events Calendar</h1>

    <div class="events-full"></div>

  </div>
</div>

<h4>To find out about more events outside this month, checkout the offical USACS Google Calendar</h4>
<div class="button-container button-inline">
  <a class="button" href="https://calendar.google.com/calendar/embed?src=rutgersusacs%40gmail.com&ctz=America/New_York"> USACS Calendar</a>
</div>
