<link rel="stylesheet" href="css/get-involved.css">
<script type="application/javascript" src="./assets/js/interactions.js"></script>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>Getting Involved</h1>
    <div class="page-nav">
      <ul>
        <a class="in-page-link current" href="#membership"><li>Membership</li></a>
        <a class="in-page-link" href="#mentorship"><li>Mentorship</li></a>
      </ul>
    </div>
    <div class="active-wrap">
      <div class="active-area current" id="membership">
        <div class="banner">
          <img src="./assets/img/the-board.jpg">
        </div>
        <h2>Becoming a member of USACS</h2>
        <p>Membership in USACS means access to all that the RU computer science community has to offer. With events ranging from CS Trivia Nights to weekly Hacker Hours and the semiannual HackRU, USACS takes charge of all Rutgers’ biggest CS events.
        </p>
        <p>Our diverse community is one that prospers with growth, and we owe our success to our new members. If you are intrigued by technology, coding, social outings, teaching, or leadership, check out out our full events calendar to get involved with whatever suits you best!
        </p>
        <div class="button-container">
          <a class="button" href="events.html">
            Events Calendar
          </a>
        </div>
      </div>
      <div class="active-area" id="mentorship">
        <div class="banner">
          <img src="./assets/img/mentor-header.jpg">
        </div>
        <p>One of its fastest growing and most successful initiatives, the USACS mentoring program offers the opportunity for personal and professional growth to members of all ages and skill levels. Some of our current mentors specialize in web development, game creation, and CS fundamentals.
        </p>
        <p>Relationships with mentees can range anywhere from daily tutoring to networking help and even just occasional advice for course planning - whatever works best for participants. Says mentee SaraAnn Stanway “Participation in the mentor program was the catalyst for my involvement in CS. My mentor made sure that I was never intimidated at how much there was to learn, and has become a great friend and role model in the process.”
        </p>

        <div class="button-container button-inline">
          <a class="button" href="http://bit.ly/usacs-mentees">Become a Mentee</a>
        </div>
        <div class="button-container button-inline">
          <a class="button" href="http://bit.ly/usacs-mentors">Become a Mentor</a>
        </div>

      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
