<script src="assets/js/plugins.js"></script>
<script src="assets/js/sly.js"></script>
<script src="assets/js/mentor-page.js"></script>
<script type="application/javascript" src="./assets/js/interactions.js"></script>

<link rel="stylesheet" href="css/mission.css">
<link rel="stylesheet" href="css/mentors.css">
<!-- The top list of people -->

<div class="row" id="list">
  <div class="wrap">
    <div class="frame" id="basic">
      <ul class="clearfix">
      </ul>
    </div>
    <div class="scrollbarL">
      <div class="handle">
        <div class="mousearea"></div>
      </div>
    </div>
  </div>
</div>

<!-- The mentor-based content -->
<section id="content" class="pages">
  <div class="row" id="picture">
  </div>
  <div class="row" id="info">
    <div class="wrap">
      <div class="frame" id="nonitembased">
        <div class="slidee">
        </div>
      </div>
    </div>
  </div>
</section>
