<link rel="stylesheet" href="css/mission.css">
<script type="application/javascript" src="./assets/js/interactions.js"></script>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>Outreach</h1>

    <p>
      As the tech industry continues its rapid expansion, inclusion of women and individuals of color lags behind.
      At Rutgers, it's important to us to be part of the solution.
    </p>
    <p>
      This fall, we've launched #RUniteCS, a volunteer outreach program to spark interest in computer science in middle school students - because once they hit high school, STEM's appeal plummets dramatically.
      In what we've termed "virtual classroom visits," passionate and talented undergrads host a video panel discussion where kids can learn how we got interested in tech and the many directions a career in CS can follow.
      We tell them about our favorite, often silly coding projects, and point them toward free resources they can use to get started.
      We make every effort to have a diverse group of panelists of each discussion, because we feel it's important to show these students someone in whom they can see themselves.
      Visits can range anywhere from ten minutes to a whole class period - classroom time is valuable, so it's always up to teachers to decide how much they'd like to use with us.
    </p>
    <p>
      If you'd like to learn more about our outreach efforts or set up a virtual classroom visit for your class, you can reach us at <a href="mailto:rutgersusacs@gmail.com">rutgersusacs@gmail.com</a> or tweet @rutgers_usacs with the hashtag #RUniteCS.
    </p>
    <p>
      If you would like to extend this program to your college, please let us know at <a href="mailto:rutgersusacs@gmail.com">rutgersusacs@gmail.com</a>.
      We would love to share our experiences to have a wider reach.
  </div>
</div>
<img src="/assets/img/classroom_visit.jpg"></img>
