<link rel="stylesheet" href="css/projects.css">
<script type="application/javascript" src="./assets/js/interactions.js"></script>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>Projects made by the community!</h1>
    <h3>We do fun stuff. We make fun stuff. Check out some of our best work!</h3>

    <div class="row" id="project-container">

      <!-- I just want to go to bed -->
      <br/>
      <br/>
      <br/>
      <!-- Ignore me -->
      <div class="row">
        <div class="project col-sm-6" style="background-image: url('assets/img/python.png')">
          <a href="https://github.com/sagnew/Prank-Roulette"> <h1>Prank-Roulette</h1> </a>
          <p>A web app that allows users to set up phone calls between two people and enables the user to anonymously listen.</p>
        </div>

        <div class="project col-sm-6" style="background-image: url('assets/img/unity.png')">
          <a href="https://github.com/9/Shrednought"> <h1>Shrednought</h1> </a>
          <p>Shrednought takes in audio created from a real guitar and is relayed as controls for a 3D world survival game.</p>
        </div>

        <div class="project col-sm-6" style="background-image: url('assets/img/python.png')">
          <a href="http://devpost.com/software/isight"> <h1>iSight</h1> </a>
          <p>iSight uses computer vision via tesseract to convert any image file to braille to assist the visually impared.</p>
        </div>
        <div class="project col-sm-6" style="background-image: url('assets/img/js.png')">
          <a href="http://devpost.com/software/transakt"> <h1>Transactr</h1> </a>
          <p> Transactr tracks your spending habits by updating you through your pebble watch about your recent transactions.</p>
        </div>

        <div class="project col-sm-6" style="background-image: url('assets/img/chrome.png')">
          <a href = "http://devpost.com/software/smartfindr"> <h1>SmartFindr</h1> </a>
          <p>Helps people quickly browse webpages by targeting the important concepts within a dense amount of material.</p>
        </div>

        <div class="project col-sm-6" style="background-image: url('assets/img/python.png')">
          <a href="http://devpost.com/software/wikilio"> <h1>Wikilio</h1> </a>
          <p>Uses Twilio to enable non-smartphone users to research and browse wikipedia through text/image messages.</p>
        </div>
      </div>
    </div>

    <!-- apply with css later-->
    <br/>
    <br/>
    <br/>
    <!-- Ignore me -->

  </div>
</div>
