<link rel="stylesheet" href="./css/bootstrap.4.0.0.min.css">
<link rel="stylesheet" href="css/resources.css">
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script> google.load('visualization', '1'); </script>
<script type="application/javascript" src="./assets/js/resources.js"></script>
<script type="application/javascript" src="./assets/js/interactions.js"></script>
<script type="application/javascript" src="./assets/js/events-list.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <h1>Resources</h1>
        <h3> A community-driven collection of resources to aid you in your CS endeavors. </h3>

        <p>
            Want to add something? 
            <a target="_blank" href="https://goo.gl/forms/59Sqty3OCPahv4192">Let us know.</a>
        </p>

        <ul id="resource-list" class="list-group"></ul>
    </div>
</div>
