<!-- <footer>
    <div class="social-media">
      <a href="https://www.facebook.com/rutgers.usacs/?ref=br_tf"><img src="assets/img/fb.svg"></a>
      <a href="https://twitter.com/Rutgers_Usacs"><img src="assets/img/twitter.svg"></a>
      <a href="https://www.instagram.com/Rutgers_Usacs/"><img src="assets/img/insta.svg"></a>
      <a href="https://github.com/usacs"><img src="assets/img/github-mark.png"></a>
      <a href="https://medium.com/@rutgersusacs"><img src="assets/img/medium_logo.png"></a>
      <a href="https://usacs.slack.com/"><img src="assets/img/slack-mark.png"></a>
    </div>
  </footer> -->