<!--
<div id="header-bg"></div>
<div class="row collapse">
  <div class="three columns title">
    <h1 class="usacs-logo"><a href="{{ root_url }}/">USACS</a></h1>
  </div>
  <div class="nine columns menu">
    <ul class="nav-bar right">
      <li><a href="{{ root_url }}/#about">About</a></li>
      <li><a href="./events.html">Events</a></li>
      <li><a href="./group.html">Mailing List</a></li>
      <li><a href="./people.html">People</a></li>
      <li><a href="http://hackru.org">HackRU</a></li>
      <li><a href="mailto:rutgersusacs@gmail.com">Contact</a></li>
    </ul>
  </div>
</div>
-->

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
  	<div class="three columns title">
  	  <h1 class="usacs-logo"><a href="{{ root_url }}/">USACS</a></h1>
  	</div>

     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->

    <li class="toggle-topbar menu-icon"><a href="#"></a></li>
  </ul>

    <!-- Right Nav Section -->

    <ul class="six columns right">
      <li><a href="{{ root_url }}/#about">About</a></li>
      <li><a href="./events.html">Events</a></li>
      <li><a href="./group.html">Mailing List</a></li>
      <li><a href="./people.html">People</a></li>
      <li><a href="http://hackru.org">HackRU</a></li>
      <li><a href="mailto:rutgersusacs@gmail.com">Contact</a></li>
    </ul>

    <!-- Left Nav Section -->

</nav>
