<div class="social-media">
    <a href="https://www.facebook.com/rutgers.usacs/?ref=br_tf">
        <img src="{{ '/assets/img/fb.svg' | prepend: site.baseurl }}">
    </a>
    <a href="https://twitter.com/Rutgers_Usacs">
        <img src="{{ '/assets/img/twitter.svg' | prepend: site.baseurl }}">
    </a>
    <a href="https://www.instagram.com/Rutgers_Usacs/">
        <img src="{{ '/assets/img/insta.svg' | prepend: site.baseurl }}">
    </a>
    <a href="https://github.com/usacs">
        <img src="{{ '/assets/img/github-mark.png' | prepend: site.baseurl }}">
    </a>
    <a href="https://medium.com/@rutgersusacs">
        <img src="{{ '/assets/img/medium_logo.png' | prepend: site.baseurl }}">
    </a>
    <a href="https://discord.gg/WdjK7t97Jw">
        <img src="{{ '/assets/img/discord.png' | prepend: site.baseurl }}">
    </a>
    <a href="https://www.youtube.com/channel/UCwDoERNwcCrZICFil2fmdmA">
        <img src="{{ '/assets/img/yt.png' | prepend: site.baseurl }}">
    </a>
</div>