<div class="container social-media">
    <a href="https://www.facebook.com/rutgers.usacs/?ref=br_tf">
        <i class="fab fa-facebook"></i>
    </a>
    <a href="https://twitter.com/Rutgers_Usacs">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com/Rutgers_Usacs/">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="https://github.com/usacs">
        <i class="fab fa-github"></i>
    </a>
    <a href="https://medium.com/@rutgersusacs">
        <i class="fab fa-medium"></i>
    </a>
    <a href="https://discord.gg/hPzufZ2">
        <i class="fab fa-discord"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCwDoERNwcCrZICFil2fmdmA">
        <i class="fab fa-youtube"></i>
    </a>
</div>