@font-face {
	font-family: colorBasic;
	src: url('../fonts/color\ basic.otf');
}

@font-face {
	font-family: neou;
	src: url('../fonts/Neou-Thin.otf');
}
@font-face {
	font-family: neou;
	src: url('../fonts/Neou-Bold.otf');
	font-weight: bold;
}

body {
	background-image: url('../images/grey_@2X.png');
	font-color: white;
}

h2 {
	font-size: 27px;
}

h3 {
	font-size: 23px;
}

h4 {
	font-size: 19px;
}

.main-content {
	padding-left: 2px;
	padding-right: 2px;
}

.usacs-logo {
	font-family: neou;
	font-weight: bold;
	font-size: 60px;
	margin-bottom: 0px;
}

.hacker-hour {
	font-family: colorBasic;
}

.content-block {
	background-color: #fefefe;
	border-radius: 3px;
	border-style: solid;
	border-width: 10px;
	border-color: #eeeeee;
	margin-top: 10px;
	box-sizing:border-box;
}

/* so that images line up with the h# tag margins */
.content-block img {
	margin-top: 14px;
}

.slider-block {
	background-color: #fefefe;
	border-radius: 3px;
	border-style: solid;
	border-width: 10px;
	border-color: #eeeeee;
	padding-bottom: 0px;
	box-sizing:border-box;
}

.slider-block #slider {
	margin: 0px;
}

.schedule-item {
	list-style-type: none;
}

.title .subheader {
	margin-top: -12px;
	font-family: neou;
	margin-bottom: 0px;
	color: #222222
}

.usacs-menu {
	margin-top: 0px;
	margin-right: -2px;
}

.usacs-subheader {
	font-weight: bold;
	margin-bottom: 0px;
	padding-bottom: 0px;
	line-height: 30pxh
}

.about {
	line-height: 2em;
}

.person img {
	margin-bottom: 14px;
}


/* just to note, from here down I'm basically a bad person 
 * because I'm directly overwriting foundation's CSS */
.nav-bar {
	background: none;
	border: none;
}

.nav-bar li {
	border: none;
	background: #efefef;
	margin: 2px;
}

.nav-bar li:hover {
	background: #e0e0e0;
}

.nav-bar > li:last-child {
	border-right: none;
}

.nav-bar li a {
	color: #222;
}
