body {
	background-image: url('../images/starring.png');
}

.meetup-header {
	text-align: center;
}

.meetup-header h1 {
	font-family: alteHaasGrotesk;
	font-size: 80px;
	font-weight: normal;
	color: #eee;
}

.white {
	color: #fff;
}

.subheader.white {
	color: #fff;
}

.ru {
	font-weight: bold;
	color: #D21034;
}

.speakers {
	text-align: center;
}

.speakers h3 {
	color: #fff;
}

.speakers li {
	list-style-type: none;
	margin-top: 10px;
}

.signup {
	margin-top: 60px;
}

.usacs-logo {
	color: #eee;
}

.content-block {
	background-color: #2a2a2a;
	border-color: #323232;
}

.nav-bar li {
	border: none;
	background: #444;
	margin: 2px;
}

.nav-bar li:hover {
	background: #444;
}

.nav-bar li a {
	color: #ccc;
}
