#landing {
	height: 100vh;
	min-height: 450px;
	position: relative;
}

#landing:before {
	content: '';
	background-image: url('./assets/img/landing-bg.jpg');
	background-size: cover;
	background-position: center top;
	opacity: 1;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#landing:after {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, .8);
	top: 0;
	left: 0;
	z-index: 2;
}

.center-wrapper {
	width: 100%;
	height: 100%;
	padding-top: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	vertical-align: middle;
	padding: 30px;
	position: relative;
	z-index: 3;
}

.center-wrapper > img {
	margin-bottom: 15px;
}

h6 {
	max-width: 560px;
	margin: 0 auto;
	color: white;
	font-size: 3rem;
	text-align: center;
}

.social-media {
	bottom: 0px;
	left: 0;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 4;
	padding: 20px;
}

.social-media img {
	width: 50px;
	height: 50px;
	padding: 10px;
	display: inline-block;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.social-media a:hover img {
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

#content {
	background-color: white;
	background-image: url(assets/img/bg.svg);
	background-position: center bottom;
	background-size: cover;
}

.events-wrapper {
	padding: 20px 20px 50px;
}

.event {
	display: inline-block;
	margin-bottom: 20px;
}

.event > div {
	display: inline-block;
	float: left;
}

.event-date {
	margin-right: 15px;
	font-family: 'Gotham Book';
	color: #b22828;
	text-align: center;
}

.event-date .day {
	display: block;
	min-width: 60px;
	font-size: 3.8rem;
	line-height: 35px;
}

.event-date .month {
	font-family: 'Gotham Bold';
	text-transform: uppercase;
	font-size: 100%;
	display: block;
	font-size: 1.5rem;
	letter-spacing: 5px;
}

.event-description {
	width: calc(100% - 100px);
}

.event-description > span {
	display: block;
}

.event-description .title {
	font-size: 1.7rem;
	color: #b22828;
}

.event-description .description {
	font-size: 1.3rem;
}

.locations-header {
	height: 50px;
	text-align: center;
	text-transform: capitalize;
	color: #b22828;
	line-height: 50px;
	font-size: 2.8rem;
	font-family: 'Gotham Bold';
	border: 1px solid lightgray;
	border-left: 0px;
	border-right: 0px;
}

.location-description p {
	margin-bottom: 20px;
}

.loc1,
.loc2,
.loc3,
.loc4 {
	padding-bottom: 30px;
	position: relative;
	border-bottom: 1px solid lightgray;
	background-color: rgba(0, 0, 0, .6);
	background-blend-mode: multiply;
}

.loc1:before,
.loc2:before,
.loc3:before,
.loc4:before {
	content: '';
	top: 0;
	left: 0;
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	-ms-background-size: cover;
	background-size: cover;
	opacity: 1;
}

.loc1:before {
	background-image: url("./assets/img/cave-bg.jpg");
}

.loc2:before {
	background-image: url("./assets/img/cave-bg.jpg");
}

.loc3:before {
	background-image: url("./assets/img/cave-bg.jpg");
}

.loc4:before {
	background-image: url("./assets/img/makerspace-bg.jpg");
}

.location-description {
	color: white;
	display: inline-block;
}

.location-description * {
	float: left;
	display: block;
	width: 100%;
}

.location-description > h1 {
	font-family: 'Gotham Black';
	font-size: 4.4rem;
	text-align: left;
	color: white;
	text-transform: uppercase;
}

.location-description > p {
	font-size: 1.3rem;
	font-family: 'Lato';
	text-align: left;
	color: white;
}

#footer {
	height: 50px;
	display: block;
	width: 100%;
	background-color: #b22828;
}

::-moz-selection {
	background-color: #b22828;
	color: white;
}

::selection {
	background-color: #b22828;
	color: white;
}

@media screen and (max-width: 900px) {}